/* *{
    color:  black
   
} */


/* body{
    
  
      background-image: url(../img/2.jpeg); 
      background-color: #fe9801; 
    
   
    

} */




/* .background{
    color:  rgb(8, 124, 186);
} */

.welcome{
    color:black;
   
    font-size: xx-large;
  
}

.input_area {
   
    width: 100%;
    height: 150px;
   
}

#btn{
   
    width: 30%;
    height: 50px;
    border: none;
    color:black;
    /* background: #1FA2FF;  
background: -webkit-linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  
background: linear-gradient(to right, #A6FFCB, #12D8FA, #1FA2FF);  */
    background: #ccda46;
    
    border-radius: 7px;
    box-shadow: black 5px 8px 5px;
}

#stop{
    
    width: 30%;
    height: 50px;
    border: none;
    color: #fff;
}

#Result{
    display: none;
}

.wrapper p{
    display: none;
}


#massage{
    color:rebeccapurple;
   
}




#msg{
    border-radius: 10px;
    box-shadow: black 5px 8px 5px;
}

.color{
    background-color: #ccda46;
  height: 90px;
  width: 100px;
  margin: 8px;
  padding: 12px;
  border-radius: 20%;
  box-shadow: black 5px 8px 5px;
}